---
name: Release Docker Image
on:
  push:
    branches:
      - "*"

jobs:
  build:
    name: Release new Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: framebassman
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ github.repository }}:${{ steps.package-version.outputs.current-version }}
